<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="RegressionSuite">

	<listeners>
		<listener class-name="com.heat.listeners.Listener"></listener>
	</listeners>

	<test name="RegressionTest">
		<classes>
		
        <class name="com.heat.testMethods.TC02_verifyLoginTest"/>
			
			
			
		</classes>
	</test>
</suite> 